﻿* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*position: relative*/
    font-size: 14px;
    color: #222222;
    font-family: 'Poppins', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    background: url(../assets/images/home/banner.jpg)no-repeat;
    background-size:cover; 
}



a, a:hover, a:active, a:focus {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #222222;
    text-transform: capitalize;
}

p {
    margin: 0;
    color: #666666;
    font-size: 14px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    ul li {
        list-style: none;
    }

select, input, textarea, button {
    box-shadow: none;
    outline: 0 !important;
}





html, body {
    height: 100%;
    z-index: 2;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease;
    -moz-transition: opacity 0.3s 0.3s ease;
    -o-transition: opacity 0.3s 0.3s ease;
    transition: opacity 0.3s 0.3s ease;
    opacity: 0;
}

