/*==================================
* Author        : "ThemeSine"
* Template Name : Travel
* Version       : 1.0
==================================== */

/*==================================

font-family: 'Poppins', sans-serif;

==================================== */

/*=========== TABLE OF CONTENTS ===========

1.  General css (Reset code)
2. 	Header
3. 	About
5.  Travel-box
5.  Service
6.  Gallery
7.  Discount-offer
8.  Packages
9.  Testemonial 
10. Special Offer
11. Blog
12. Subscribe
13. Footer-copyright
===========*/

/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 14px;
    color: #222222;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}



a, a:hover, a:active, a:focus {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #222222;
    text-transform: capitalize;
}

p {
    margin: 0;
    color: #666666;
    font-size: 14px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    ul li {
        list-style: none;
    }

select, input, textarea, button {
    box-shadow: none;
    outline: 0 !important;
}





html, body {
    height: 100%;
    z-index: 2;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease;
    -moz-transition: opacity 0.3s 0.3s ease;
    -o-transition: opacity 0.3s 0.3s ease;
    transition: opacity 0.3s 0.3s ease;
    opacity: 0;
}



/*=============Style css=========*/

/*-------------------------------------
		2. Header
--------------------------------------*/
.top-area {
    position: absolute;
    width: 100%;
}

.wrapper {
    position: relative;
    z-index: -1;
}

.header-area {
    position: relative;
    width: 100%;
}

/*.sticky-wrapper */
.sticky-wrapper {
    position: relative;
    z-index: 2;
    transition: .7s;
}

.is-sticky .header-area {
}

    .is-sticky .header-area:after {
        position: absolute;
        content: '';
        background: rgba(77,78,84,1);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

.sticky-wrapper.is-sticky .main-menu .nav a:before {
    bottom: 17.6px;
}
/*.sticky-wrapper */

/*.logo*/
.logo a, .logo a:hover, .logo a:focus {
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    margin: 14px 0px 0;
    padding: 10px 0 0 0;
}

    .logo a span {
        color: #00d8ff;
        text-transform: capitalize;
    }

/*.logo*/

/*.main-menu*/
.main-menu {
    position: relative;
}

    .main-menu ul .nav .navbar-nav {
        text-align: right;
        float: none;
    }

    .main-menu .nav li {
        position: relative;
        padding: 16px 12px 0px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

        .main-menu .nav li a {
            padding: 11px 0 29px;
            color: #fff;
            font-size: 16px;
            text-transform: capitalize;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            -webkit-transition: all 0.25s ease-in-out 0s;
            -moz-transition: all 0.25s ease-in-out 0s;
            -o-transition: all 0.25s ease-in-out 0s;
            transition: all 0.25s ease-in-out 0s;
        }

            .main-menu .nav li.active a,
            .main-menu .nav li a:hover,
            .main-menu .nav li a:focus {
                color: #00d8ff;
                background-color: transparent;
            }

    .main-menu .nav a:before {
        position: absolute;
        content: "";
        width: 0px;
        height: 2px;
        bottom: -2.4px;
        left: 0;
        background: transparent;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .main-menu .nav li.active a:before,
    .main-menu .nav a:hover:before {
        background: #00d8ff;
        width: 100%;
    }

    /*.main-menu*/

    /* tooggle */
    .main-menu .navbar-toggle {
        margin-top: 5px;
        border: 1px solid;
        font-size: 16px;
        float: left;
    }

    .main-menu .navbar-toggle {
        color: #00d8ff;
    }

    .main-menu .navbar-default .navbar-toggle:focus,
    .main-menu .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }


.home-border {
    border-top: 2px solid #fff;
}

/*book-btn*/
.book-btn {
    background: #00d8ff;
    border: 1px solid #00d8ff;
    width: 120px;
    height: 40px;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

    .book-btn:hover {
        color: #fff;
        background: #00d8d5;
        border: 1px solid #00d8d5;
    }
/*book-btn*/

/*-------------------------------------
		3. 	About
--------------------------------------*/
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../images/home/banner.png)no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

    .about-us:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,122,207,.4);
    }

/*about-us-content*/
.about-us-content {
    margin: -175px 0 0 0;
}

.about-us h2 {
    color: #fff;
    font-size: 84px;
    text-transform: inherit;
    max-width: 800px;
    font-weight: 600;
    line-height: 1.22;
}

    .about-us h2 span {
        color: #2bdab5;
        margin-top: -11px;
    }

.about-btn {
    margin-top: 39px;
    letter-spacing: 1.2px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.about-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00d8ff;
    border: 1px solid #00d8ff;
    width: 200px;
    height: 60px;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(14,15,18,.2);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.about-btn:hover .about-view {
    color: #fff;
    background: #00d8d5;
    box-shadow: 0 5px 20px rgba(14,15,18,.7);
    border: 1px solid #00d8d5;
}

.travel-mrt-0 {
    margin-top: 0px;
}
/*about-us-content*/

/*-------------------------------------
		4. 	Travel-box
--------------------------------------*/
.single-travel-boxes {
    margin-top: -125px;
    background: #fff;
}

.tab-para p {
    font-size: 24px;
}
/* .desc-tabs */
.desc-tabs {
    border: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

    .desc-tabs .nav-tabs {
        display: inline-block;
        border-right: 1px solid #fff;
    }

        .desc-tabs .nav-tabs > li.active > a {
            color: #fff;
            background: #00d8ff;
            cursor: default;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            text-transform: capitalize;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }

            .desc-tabs .nav-tabs > li.active > a:focus,
            .desc-tabs .nav-tabs > li.active > a:hover {
                color: #565a5c;
                text-decoration: none;
            }

        .desc-tabs .nav-tabs > li > a {
            color: #fff;
            background: #00d8ff;
            cursor: default;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            text-transform: capitalize;
            padding: 17px 40px 17px 46px;
            border: 0;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }

.single-travel-boxes .nav > li > a:focus,
.single-travel-boxes .nav > li > a:hover {
    color: #565a5c;
    background: #fff;
    border: 0;
    text-decoration: none;
}

.desc-tabs .nav-tabs > li > a > i {
    padding-right: 6px;
}
/* .desc-tabs */



/*===ab-select-box===*/
.tab-para {
    padding: 43px 42px 24px;
}

.single-tab-select-box h2 {
    color: #565a5c;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-bottom: 17px;
}

.travel-select-icon {
    position: relative;
}

    .travel-select-icon:after {
        position: absolute;
        content: "\f107";
        right: 0px;
        top: 0;
        font-size: 18px;
        color: #aaa;
        background: #f9f9f9;
        font-family: "fontAwesome";
        pointer-events: none;
        border: 1px solid #d7d7d7;
        border-bottom: transparent;
        padding: 10px;
    }

.travel-check-icon {
    position: relative;
}

    .travel-check-icon:after {
        position: absolute;
        content: "\f073";
        right: 0px;
        top: 0;
        font-size: 18px;
        color: #aaa;
        background: #f9f9f9;
        font-family: "fontAwesome";
        pointer-events: none;
        border: 1px solid #d7d7d7;
        border-bottom: transparent;
        padding: 10px 8px;
    }
    /*travel-select-icon*/

    .travel-select-icon select, .travel-check-icon input {
        color: #aaa;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
    }
    /*select*/

    .travel-select-icon .form-control, .travel-check-icon .form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0 !important;
        box-shadow: none;
        border: 1px solid #d7d7d7;
        border-radius: 0px;
        margin-bottom: 20px;
    }
/*.travel-select-icon .form-control*/

/*.trip-circle*/
.trip-circle {
    display: flex;
    margin-bottom: 17px;
}

.single-trip-circle {
    display: flex;
}

    .single-trip-circle:nth-child(2) {
        display: flex;
        margin-left: 42px;
    }

    .single-trip-circle input[type="radio"] {
        display: none;
    }

        .single-trip-circle input[type="radio"] + label {
            color: #565a5c;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            text-transform: capitalize;
            margin-bottom: 17px;
            margin-left: 0px;
        }

            .single-trip-circle input[type="radio"] + label span.round-boarder {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin: -1px 4px 0 0;
                vertical-align: middle;
                cursor: pointer;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .single-trip-circle input[type="radio"] + label span.round-boarder1 {
                display: inline-block;
                width: 9px;
                height: 9px;
                margin: -13px 0px 0 1px;
                vertical-align: middle;
                cursor: pointer;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .single-trip-circle input[type="radio"] + label span.round-boarder {
                border: 2px solid #aaa;
            }

            .single-trip-circle input[type="radio"] + label span.round-boarder1 {
                border: 1px solid #fff;
                background-color: #fff;
            }

        .single-trip-circle input[type="radio"]:checked + label span.round-boarder1 {
            background-color: #00d8ff;
        }

        .single-trip-circle input[type="radio"] + label span.round-boarder1,
        .single-trip-circle input[type="radio"]:checked + label span.round-boarder1 {
            -webkit-transition: background-color 0.4s linear;
            -o-transition: background-color 0.4s linear;
            -moz-transition: background-color 0.4s linear;
            transition: background-color 0.4s linear;
        }
/*.trip-circle*/


/* filter */
.travel-budget {
    margin-top: 38px;
}

    .travel-budget h3 {
        color: #565a5c;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
    }

.price_filter {
    margin-top: 9px;
}

    .price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
        background: #d7d7d7;
        border: medium none;
        border-radius: 0;
        height: 6px;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
    }

    .price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
        background: #00d8ff none repeat scroll 0 0;
        border: 0px solid #00d8ff;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        outline: 0;
        cursor: pointer;
        z-index: 1;
    }

    .price_filter .ui-slider-range {
        background: #00d8ff none repeat scroll 0 0;
    }

.price_slider_amount > input[type="text"] {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    letter-spacing: 5.5px;
    height: 40px;
    text-align: center;
    width: 280px;
    border: none !important;
    ;
    font-family: 'Poppins', sans-serif;
}

.price_slider_amount label {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
}

.price_slider_amount > input[type="text"]:focus {
    outline: 0
}

.price_slider_amount > input[type="submit"] {
    outline: 0;
}

.price_slider_amount {
    letter-spacing: 2px;
}

    .price_slider_amount > input[type="submit"] {
        font-weight: 500;
        font-size: 14px;
        color: #aaa;
        font-family: 'Poppins', sans-serif;
    }

/* .travel-btn */
.about-view.travel-btn {
    width: 180px;
    margin-right: 15px;
}

/*-------------------------------------
        5. Service
--------------------------------------*/
.service {
    position: relative;
    padding: 80px 0 54px;
}
/* single-ststistics-box */
.single-service-box {
    display: flex;
    margin-bottom: 30px;
}
/* single-ststistics-box */
.service-content {
    max-width: 268px;
    margin-left: 7px;
    margin-top: 6px;
    margin: 6px 0 30px 7px;
}

    .service-content h2 a {
        color: #565a5c;
        font-size: 16px;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .service-content p {
        color: #aaa;
        font-size: 14px;
        text-transform: inherit;
        font-family: 'Poppins', sans-serif;
        margin-top: 17px;
    }

/*-------------------------------------
        6. Gallery
--------------------------------------*/
.gallery {
    background: #f9f9f9;
}

.gallery-details {
    margin-top: 117px;
    margin-bottom: 109px;
}

.gallery-content {
    margin-top: 62px;
}

/* gallary-header  */
.gallary-header h2 {
    position: relative;
    color: #565a5c;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 14px;
}

.gallary-header p {
    position: relative;
    color: #aaa;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 17px;
}
/* featured-header  */


/* ---- .item ---- */
.filtr-container .filtr-item {
    overflow: hidden;
    float: left;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
    /*.item img*/
    .filtr-container .filtr-item img {
        width: 100%;
        height: 100%;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .filtr-container .filtr-item:hover img {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
/*.item img*/



/*.item-title*/
.item-title {
    position: absolute;
    background: transparent;
    bottom: 20%;
    left: 60px;
    width: 170px;
    height: 60px;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
}

    .item-title a {
        color: #fff;
        font-size: 24px;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-bottom: 3px;
        -webkit-transition: all 0.6s linear;
        -moz-transition: all 0.6s linear;
        -ms-transition: all 0.6s linear;
        -o-transition: all 0.6s linear;
        transition: all 0.6s linear;
    }

    .item-title p {
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        -webkit-transition: all 0.6s linear;
        -moz-transition: all 0.6s linear;
        -ms-transition: all 0.6s linear;
        -o-transition: all 0.6s linear;
        transition: all 0.6s linear;
    }

        .item-title p span {
            padding-right: 30px;
        }

.filtr-container .filtr-item:hover .item-title a,
.filtr-container .filtr-item:hover .item-title p {
    color: #2cdbb5;
}
/*.item-title*/


/*-------------------------------------
        7.  Discount-offer
--------------------------------------*/
.discount-offer {
    padding: 120px 0;
    position: relative;
    background: url(../images/flight/a6.jpg)no-repeat center fixed;
    background-size: cover;
    z-index: 1;
}

    .discount-offer:after, .subscribe:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,122,207,.5);
        z-index: -1;
    }

.dicount-offer-content h2 {
    color: #fff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.4;
}

/* campaign-timer */
.campaign-timer {
    background: rgba(50,55,63,.65);
    max-width: 555px;
    margin: 43px auto;
    padding: 24px 0 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(34,31,31,.2);
}

.camp {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}

.time-after {
    position: relative;
}

    .time-after:after {
        position: absolute;
        content: ':';
        top: 10px;
        right: -8px;
    }

.time {
    display: inline-block;
    line-height: 1;
    padding: 10px 22px 0;
    font-weight: 500;
    font-size: 48px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
/* campaign-timer */

/*.discount-offer-btn*/
.about-view.discount-offer-btn {
    color: #fff;
    max-width: 160px;
    margin: 0 auto;
}
/*.discount-offer-btn*/

/*-------------------------------------
        8. Packages 
--------------------------------------*/
.packages {
    padding: 120px 0 90px;
}

.packages-content {
    margin-top: 65px;
}
/*single-package-item */
.single-package-item {
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.single-package-item-txt {
    padding: 0 25px;
}

.single-package-item img {
    width: 100%;
}

.single-package-item h3 {
    position: relative;
    font-size: 20px;
    color: #565a5c;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
}

    .single-package-item h3:after {
        position: absolute;
        content: " ";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ebebeb;
    }

.packages-para {
    padding: 17px 0 0;
    text-transform: capitalize;
}

    .packages-para p {
        font-size: 14px;
        color: #aaa;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 15px;
    }

        .packages-para p span {
            display: inline-block;
            width: 150px;
        }

.packages-review p i {
    color: #ffdf00;
    font-size: 16px;
}

.packages-review span {
    margin-left: 20px;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.about-view.packages-btn {
    width: 110px;
    height: 35px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

    .about-view.packages-btn:hover {
        box-shadow: 0 5px 20px rgba(14,15,18,.3);
    }

.single-package-item:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
/*single-package-item */

/*-------------------------------------
        9. Testemonial 
--------------------------------------*/

.testemonial {
    position: relative;
    background: #f9f9f9;
    padding: 120px 0;
}

/*testemonial-carousel*/
.home1-testm-single {
    max-width: 345px;
    background: #fff;
    padding: 50px 0;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

    .home1-testm-single:hover {
        box-shadow: 0 0 30px rgba(0,0,0,.3);
    }

.home1-testm.item {
    padding-top: 74px;
    padding-bottom: 30px;
}

/*.home1-testm-img*/
.testemonial .owl-carousel .owl-item img {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
}
/*.home1-testm-img*/

/*owl-carousel*/
.testemonial .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    padding: 0 19px;
}

.testemonial .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px;
}

.testemonial .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 3px;
    border-radius: 50%;
    background: #aaa;
}

.testemonial .owl-theme .owl-dots .owl-dot.active span {
    background: #00d8ff;
}
/*owl-carousel*/

/*home1-testm-txt*/
.home1-testm-txt {
    padding-top: 27px;
}

    .home1-testm-txt p {
        color: #aaa;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        max-width: 284px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .home1-testm-txt h3 a {
        display: block;
        color: #00d8ff;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-transform: capitalize;
    }

    .home1-testm-txt h4 {
        color: #aaa;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        padding: 15px 0 0px;
    }

    .home1-testm-txt span {
        color: #ddd;
        font-size: 18px;
    }
/*home1-testm-txt*/

/*testemonial-carousel*/

/*-------------------------------------
        10.  Special-Offer
--------------------------------------*/
.special-offer {
    position: relative;
    /*background: url(../../assets/images/offer/offer-banner.jpg)no-repeat center;*/
    background-size: cover;
    z-index: 1;
}

    .special-offer:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgba(0,216,255,.6);*/
        z-index: -1;
    }

/*.single-special-offer-bg*/
.single-special-offer-bg {
    margin-top: -1px;
    position: relative;
    padding-bottom: 42px;
    z-index: -1;
}

    .single-special-offer-bg:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,216,255,.7);
        z-index: 1;
    }

    .single-special-offer-bg img {
        height: 807px;
    }

.single-special-shape-txt {
    position: absolute;
    top: 60px;
    left: 62px;
}

    .single-special-shape-txt h3, .single-special-shape-txt h4 {
        color: #fff;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    .single-special-shape-txt h4 {
        text-transform: uppercase;
        margin: 174px 0;
        line-height: 1.3;
    }

        .single-special-shape-txt h4 span {
            font-size: 60px;
        }

    .single-special-shape-txt p {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
    }

        .single-special-shape-txt p span {
            font-size: 60px;
            font-weight: 700;
        }
/*.single-special-offer-bg*/

/*single-special-offer*/
.single-special-offer-txt {
    padding: 172px 0 0;
}

.single-special-offer h2 {
    color: #74eaff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
}
/*single-special-offer*/


.packages-para.special-offer-para p {
    color: #fff;
}

    .packages-para.special-offer-para p span {
        display: inline;
        color: #fff;
        width: 100%;
        margin-right: 25px;
    }

.offer-para {
    margin-top: 31px;
    text-transform: initial;
    line-height: 2;
}

.packages-review.special-offer-review {
    margin-bottom: 13px;
}

    .packages-review.special-offer-review span {
        color: #fff;
    }

.offer-btn-group {
    display: flex;
    margin-top: -10px;
}

.about-view.packages-btn.offfer-btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 25px;
}
/*-------------------------------------
        11. Blog
--------------------------------------*/
.blog {
    background: #fff;
    padding: 115px 0 92px;
}

/*blog-content*/
.blog-content {
    margin-top: 66px;
}

    .blog-content .thumbnail {
        background: transparent;
        border: transparent;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        margin-bottom: 30px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

        .blog-content .thumbnail:hover {
            box-shadow: 0 0 20px rgba(0,0,0,.2);
        }

.thumbnail h2 {
    padding: 25px 0 25px 20px;
    color: #565a5c;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.thumbnail span {
    color: #aaa;
    font-size: 14px;
    font-weight: normal;
    padding-left: 25px;
    font-family: 'Poppins', sans-serif;
}

/*.thumbnail-img*/
.thumbnail-img {
    position: relative;
}

.blog-content .thumbnail .thumbnail-img img {
    max-width: 102%;
    margin-left: -4px;
}

.thumbnail-img-overlay {
    position: absolute;
    top: 0;
    left: -4px;
    width: 102%;
    height: 100%;
    background: rgba(0,0,0,.5);
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.blog-content .thumbnail:hover .thumbnail-img-overlay {
    opacity: 1;
}
/*.thumbnail-img*/

/*.caption*/
.blog-content .caption {
    background: #fff;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.blog-content .thumbnail:hover .caption {
    border: transparent;
}

.blog-txt {
    margin-top: 8px;
    margin-left: 12px;
}

.blog-content .caption .blog-txt h3 a {
    color: #565a5c;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    padding-bottom: 3px;
    min-height: 63px;
    line-height: 2;
}

.blog-content .caption .blog-txt p {
    color: #aaaaaa;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    min-height: 105px
}

.blog-content .caption .blog-txt a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #64cbfa;
    padding-bottom: 12px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
/*.caption*/

/*blog-content*/

/*-------------------------------------
        12.  Subscribe
--------------------------------------*/
.subscribe {
    position: relative;
    padding: 120px 0;
    background: url(../images/flight/a1.jpg)no-repeat center fixed;
    background-size: cover;
    z-index: 1;
}

    /*subscribe-title*/
    .subscribe .subscribe-title {
        margin-bottom: 45px;
    }

.subscribe-title h2 {
    color: #fff;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.4;
}

.subscribe-title p {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    margin-top: 10px;
}
/*subscribe-title*/


/*custom-input-group*/
.custom-input-group {
    position: relative;
}

    .custom-input-group i {
        position: absolute;
        color: #aaa;
        font-size: 16px;
        top: 25px;
        left: 40px;
    }

    .custom-input-group .form-control {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        padding-left: 63px;
        padding-right: 155px;
        font-size: 16px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border-color: #eee;
    }

    .custom-input-group .subscribe-btn {
        float: right;
        position: relative;
        z-index: 1;
        margin: 5px 5px;
    }
/*custom-input-group*/

/*appsLand-btn*/
.appsLand-btn {
    background: #00d8ff;
    display: inline-block;
    padding: 17px 54px;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    letter-spacing: 0.7px;
    border: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

    .appsLand-btn:hover, .appsLand-btn:focus, .appsLand-btn:active {
        text-decoration: none;
        outline: none;
    }

    .appsLand-btn:hover {
        box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
        background: #00d8ff;
    }

    .appsLand-btn.appsLand-btn-larg {
        padding: 20px 40px;
    }

        .appsLand-btn.appsLand-btn-larg i {
            margin-right: 9px;
            font-size: 24px;
            vertical-align: sub;
        }
/*appsLand-btn*/

/*-------------------------------------
        13.  Footer-copyright
--------------------------------------*/
.footer-copyright {
    background: #f9f9f9;
    padding: 0 0 60px;
}

.footer-content {
    padding: 120px 0;
}

/*single-footer-item*/
.single-footer-item {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

    .single-footer-item h2 {
        color: #565a5c;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 40px;
    }
/*single-footer-item*/

/*footer-logo*/
.footer-logo {
    padding-top: 76px;
}

    .footer-logo a, .footer-logo a:hover, .footer-logo a:focus {
        color: #565a5c;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        font-weight: 600;
        margin: 14px 0px 0;
        padding: 10px 0 0 0;
    }

        .footer-logo a > span {
            color: #00d8ff;
            text-transform: capitalize;
        }

    .footer-logo p {
        color: #aaa;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
    }
/*footer-logo*/

/*single-footer-txt*/
.single-footer-txt p {
    margin-bottom: 8px;
}

    .single-footer-txt p a {
        color: #565a5c;
        font-size: 16px;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -ms-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

        .single-footer-txt p a:hover {
            -webkit-transition: scaleX(1.2);
            -moz-transition: scaleX(1.2);
            -ms-transition: scaleX(1.2);
            -o-transition: scaleX(1.2);
            transform: scaleX(1.2);
            color: #00d8ff;
        }
/*single-footer-txt*/

.footer-copyright hr {
    border-top: 1px solid #ebebeb;
}

/*foot-icons*/
.foot-icons {
    text-align: center;
    margin-top: 60px;
}

    .foot-icons .footer-social-links li {
        padding: 0 10px;
        text-align: center;
    }

    .foot-icons .footer-social-links a {
        color: #fff;
        display: block;
        font-size: 18px;
        width: 60px;
        line-height: 60px;
        height: 60px;
        border-radius: 50%;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        border-radius: 50%;
    }

.foot-icon-bg-1 {
    background: #3b5999;
}

.foot-icon-bg-2 {
    background: #1da1f3;
}

.foot-icon-bg-3 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8938ae+0,c13181+100 */
    background: #8938ae; /* Old browsers */
    background: -webkit-linear-gradient(right, #8938ae 0%, #c13181 100%);
    background: -o-linear-gradient(right, #8938ae 0%, #c13181 100%);
    background: linear-gradient(to right, #8938ae 0%, #c13181 100%);
}

.foot-icons .footer-social-links a:hover {
    /*color: #00d8d5;*/
    color: #2cdbb5;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.foot-icons p {
    color: #aaa;
    font-size: 16px;
    margin-top: 28px;
}

    .foot-icons p a, .foot-icons p a:hover, .foot-icons p a:focus {
        color: #00d8ff;
        font-size: 16px;
        margin-top: 28px;
    }
/*foot-icons*/

/*===============================
         Scroll Top
===============================*/

#scroll-Top .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    z-index: 15;
    color: #fff;
    background: #00d8ff;
    border: 1px solid #00d8ff;
    border-radius: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 2;
}

    #scroll-Top .return-to-top:hover {
        background: #2cdbb5;
        color: #fff;
        border-radius: 50%;
    }


/*========================Thank you=================*/
